*{
  box-sizing: border-box;
}

// @font-face {
//   font-family: 'Golos Text';
//   src: url(/css/fonts/Golos-Text_Regular.ttf);
//   font-weight: 400;
// }
// @font-face {
//   font-family: 'Golos Text';
//   src: url(/css/fonts/Golos-Text_Medium.ttf);
//   font-weight: 500;
// }
// @font-face {
//   font-family: 'MuseoSansCyrl';
//   src: url(/css/fonts/MuseoSansCyrl-300.ttf);
//   font-weight: 300;
// }
// @font-face {
//   font-family: 'MuseoSansCyrl';
//   src: url(/css/fonts/MuseoSansCyrl-500.ttf);
//   font-weight: 500;
// }
// @font-face {
//   font-family: 'MuseoSansCyrl';
//   src: url(/css/fonts/MuseoSansCyrl-700.ttf);
//   font-weight: 700;
// }
// @font-face {
//   font-family: 'MuseoSansCyrl';
//   src: url(/css/fonts/MuseoSansCyrl-900.ttf);
//   font-weight: 900;
// }
// @font-face {
//   font-family: 'MuseoSansCyrl';
//   src: url(/css/fonts/MuseoSansCyrl-100.ttf);
//   font-weight: 100;
// }

body{
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'MuseoSansCyrl';
  color:rgba(0, 0, 0, 1);
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

.container{
  width: 1580px;
  margin: 0 auto;
}
.container_big{
  width: 1650px;
  margin: 0 auto;
}
.tetx-white{
  color: rgba(255, 255, 255, 1);
}

.text-yellow{
  color: rgba(255, 225, 128, 1);
}
.text-orange{
  color: rgba(253, 160, 54, 1);

}
.text-green{
  color: rgba(1, 90, 77, 1);
}
.text-gray{
  color: rgba(56, 66, 64, 1)
}

.border-10{
  border-radius: 10px;
}
.uppercase{
  text-transform: uppercase;
}

.background-green{
  background-color: rgba(19, 93, 76, 1);
}
.background-yellow{
  background-color: rgba(255, 248, 223, 1);
  ;
}
.background-blue{
  background: rgba(116, 207, 186, 0.15);
}

.progect__btn{
  display: inline-block;
  padding: 18px 38px 19px;
  background: linear-gradient(90deg, #F5C51B 0%, #ED8E00 100%);
  border-radius: 37px;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  transition: all .3s ease;
}
.progect__btn:hover{
  background: transparent;
  border: 1px solid rgba(210, 127, 0, 1);
  color: rgba(210, 127, 0, 1);
}

.hadow__btn_bottom{
  box-shadow: 3px 3px 0px rgba(210, 127, 0, 1);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu{
  background-image: url('/src/images/source/baner.png');
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.menu__logo{
  margin-right: 90px;
}
.menu__wrapper{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-right: 300px;
}

.menu__container{
  font-family: 'Golos Text';
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 818px;
  padding-top: 34px;
}

.menu__container_flex{
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu__title{
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -0.03em;
  text-align: left;
  position: absolute;
  bottom: 78px;
  left: 80px;
  max-width: 665px;
}
.menu__title_padding{
  padding-left: 130px;
  display: inline-block;
  line-height: 56px;
}

.menu__link_phone{
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
}

.ticker {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 35px;
}
.items {
  margin: 0;
  padding: 18px 0;
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}
.ticker__text {
  position: relative;
  flex: 0 0 auto;
  counter-increment: item;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: left;
  font-family: 'Golos Text';
}

.ticker__text::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  font-size: 1.5em;
  background-color: #fff;
  border-radius: 50%;
  left: -14px;
  top: 50%;
}

.ticker-list {
  animation: scroll 20s linear infinite;
  background-color: rgba(0, 108, 105, 1);
}

.ticker.ticker__header{
  background-color: rgba(0, 108, 105, 1);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}




.prewiev{
  background: url('/src/images/source/oil-img1.png');
  background-position: top left;
  background-size: 556px auto;
  background-repeat: no-repeat;

}


/* .prewiev__wrapper::after{
  content: '';
  position: absolute;
  top: -169px;
  left: -550px;
  background-image: url(/src/images/source/oil1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 556px;
  height: 836px;
  z-index: -1;
} */


.prewiev__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 921px;
  padding: 0 auto;
  padding-top: 150px;
  margin: 0 auto;

}

.prewiev__logo{
  margin-bottom: 8px;
  max-width: 773px;
}

.prewiev__desc, .prewiev__item{
  text-align: center;
}

.prewiev__desc{
  font-size: 42px;
  font-weight: 800;
  line-height: 52px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 14px;
  text-align: center;
  display: block;
}

.prewiev__item{
  padding: 20px 35px 17px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.prewiev__item:nth-child(1){
  background-color:rgba(116, 207, 186, 0.2);
}
.prewiev__item:nth-child(2){
  background-color: rgba(255, 240, 189, 1);
  min-width: 368px;
}

.prewiev__container-flex{
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-bottom: 212px;
}

.bottle{
  margin-bottom: 150px;
  padding: 130px 80px 61px 80px;
  position: relative;
  min-height: 625px;
}
.bottle::before{
  /* display: none; */
  content: '';
  position: absolute;
  background-image: url('/src/images/source/bottle.svg');
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 532px;
  width: 517px;
  top: 180px;
}

.bottle__container_flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 650px;
  margin-bottom: 13px;
}

.bottle__card, .bottle__card-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
}

.bottle__card:nth-child(1){
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 89px 37px 40px;
  max-width: 406px;
  background-image: url('/src/images/source/card1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 134px;
}

.bottle__card:nth-child(2){
  display: inline-block;
  padding: 35px 89px 37px 70px;
  max-width: 406px;
  background-image: url('/src/images/source/grin--card.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 161px;
}

.bottle__card-text{

}

.bottle__card_botton{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('/src/images/source/card5.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 144px;
  max-width: 490px;
  padding: 59px 19px 37px 35px;
  margin: 0 auto;
}



.advantage{
  margin-bottom: 208px;
  position: relative;
}

.sunflower-1{
  position: absolute;
  bottom: 90;
  left: 0;
}
.sunflower-2{
  position: absolute;
  bottom: -148px;
  left: 101px;
}
.sunflower-3{
  position: absolute;
  bottom: -77px;
  left: 209px;
}
.sunflower-4{
  position: absolute;
  top: 105px;
  left: 159px;
}
.sunflower-5{
  position: absolute;
  z-index: -1;
  top: 105px;
  left: 206px;
}
.sunflover-6{
  position: absolute;
  top: 394px;
  left: 0;
}
.sunflover-7{
  position: absolute;
  top: 322px;
  left: 121px;
}
.sunflower-8{
  position: absolute;
  top: -123px;
  left: -110px;
}
.sunflower-9{
  position: absolute;
  top: 238px;
  left: 100px;
}
.sunflower-10{
  position: absolute;
  top: 40px;
  left: 390px;
}
.sunflower-11{
  position: absolute;
  top: 0;
  right: 0;
}
.sunflower-12{
  position: absolute;
  top: 265px;
  right: 171px;
}
.sunflower-13{
  position: absolute;
  top: 49px;
  right: 325px;
}
.sunflower-14{
  position: absolute;
  top: 437px;
  right: 0;
}
.sunflower-15{
  position: absolute;
  top: 578px;
  right: 215px;
}
.sunflower-16{
  position: absolute;
  top: 427px;
  right: 183px;
}
.sunflower-17{
  position: absolute;
  bottom: -174px;
  left: 0;
}
.sunflower-18{
  position: absolute;
  bottom: -171px;
  left: 285px;
}
.sunflower-19{
  position: absolute;
  bottom: -61px;
  left: 189px;
}

.sunflower-20{
  position: absolute;
  top: -134px;
  right: 0;
}
.sunflower-21{
  position: absolute;
  top: 134px;
  right: 169px;
}
.sunflower-22{
  position: absolute;
  top: -32px;
  right: 298px;
}


.sunflower-23{
  position: absolute;
  top: 0;
  left: 0;
}
.sunflower-24{
  position: absolute;
  top: 372px;
  left: 53px;
}
.sunflower-25{
  position: absolute;
  top: 615px;
  left: 18px;
}
.sunflower-26{
  position: absolute;
  right: 0;
  bottom: 366px;
}
.sunflower-27{
  position: absolute;
  top: 0px;
  right: 0px;
}
.sunflower-28{
  position: absolute;
  top: 255px;
  right: -2px;
}
.sunflower-29{
  position: absolute;
  left: 0;
  bottom: 111px;
}
.sunflower-31{
  position: absolute;
  top: 0;
  left: 0;
}
.sunflower-32{
  position: absolute;
  top: -38px;
  left: 139px;
}
.sunflower-33{
  position: absolute;
  top: 98px;
  left: 206px;
}
.sunflower-34{
  position: absolute;
  top: 20px;
  right: 0;
}
.sunflower-35{
  position: absolute;
  top: -42px;
  right: 151px;
}
.sunflower-36{
  position: absolute;
  top: 142px;
  right: 208px;
}









.sunflower__wrapper{
  /* position: relative;
  bottom: 120px;
  transform: translateX(-50%);
  left: 50%; */
  position: absolute;
  //bottom: 0px;
left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  //left: 50%;
  bottom: 118px;
  height: 470px;
  width: 1580px;
}
.oil-man__logo-sunflower{
  //transform: translateX(-50%);
  bottom: -638px;
  position: relative;
}

.oil-advantage{
  position: absolute;
  top: -243px;
  z-index: -1;
  right: 0;
}

.advantage__container_flex{
  display: flex;
  gap: 154px;
  max-height: 350px;
}

.advantage__title{
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-align: left;
  width: 50%;
}

.advantage__wrapper{
  display: flex;
  justify-content: center;
  gap: 57px;
  flex-direction: column;
  width: 40%;
}

.advantage__text{
  padding-left: 33px;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
}

.advantage__text:nth-child(1){
  position: relative;
}

.advantage__text:nth-child(1)::before{
  position: absolute;
  content: '';
  width: 3px;
  height: 42px;
  background: linear-gradient(90deg, #F5C51B 0%, #ED8E00 100%);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.advantage__text:nth-child(2){
  position: relative;
}


.advantage__text:nth-child(2)::before{
  position: absolute;
  content: '';
  width: 3px;
  height: 93px;
  background: linear-gradient(90deg, #F5C51B 0%, #ED8E00 100%);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.advantage__text:nth-child(3){
  position: relative;
}

.advantage__text:nth-child(3)::before{
  position: absolute;
  content: '';
  width: 3px;
  height: 70px;
  background: linear-gradient(90deg, #F5C51B 0%, #ED8E00 100%);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.savings__desc{
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-bottom: 30px;
}

.savings__text{
  margin-bottom: 10px;
  background-image: linear-gradient(to right,  #F5C51B 0%, #ED8E00 100%);
/* Градиент */
  -webkit-background-clip: text; /* Клипирование фона под текст */
  -webkit-text-fill-color: transparent; /* Делаем текст прозрачным */
  background-clip: text; /* Клипирование фона под текст (для других браузеров) */
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -0.04em;
  text-align: left;
}

.savings{
  margin-bottom: 147px;
  //background-image: url('/src/images/source/savages-bb-1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 850px;
  margin-bottom: 150px;
  //overflow: hidden;
  border-bottom:  1px solid rgba(207, 207, 207, 1);
  position: relative;
}
.savings-bg{
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;


  overflow-x: hidden;
  //opacity: 0;
  //transition: transform 2.5s ease-out, opacity 2s ease-out ;

}

.flare {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 300px;
  transform: skewX(-58deg); // Наклон
  //animation: flareAnimation;
  left: -150%;
  //background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 2s infinite linear; // Время и тип анимации можно менять

  //background: radial-gradient(at left top, rgba(255, 255, 255, 0.2), rgba(255, 249, 219,0.2));


  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(255, 227, 85, 0.2));
}
@keyframes flareAnimation {
  0% {
    left: -150%;
    opacity: 0;
  }
  55% {

    opacity: 0;
  }
  60% {

    opacity: 0;
  }
  70% {

    opacity: 1;
  }

  80% {

    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 150%;
  }
}
.savings-bg.animate {
  transform: translateX(-100%);
  opacity: 1;
}
.rusagro_first{
  margin-bottom: 43px;
}
.img-cap{
  position: absolute;
}
#image-cap1{
  bottom: 30px;
  left: 360px;
}
#image-cap2{
  bottom: 90px;
  left: 429px;
}
#image-cap3{
  bottom: -1px;
  left: -18px;
}

#image-cap4{
  right: 351px;
  bottom: 37px;
}
#image-cap5{
  right: 299px;
  top: -13px;
}
#image-cap6{
  right: 561px;
  top: 80px;
}
#image-cap7{
  right: 599px;
  top: 204px;
}
#image-cap8{
  right: 557px;
  bottom: 292px;
}

#image-cap9{
  right: 558px;
  bottom: 195px;
}
#image-cap10{
  right: 636px;
  bottom: 189px;
}
#image-cap11{
  right: 702px;
  top: 401px;
}
#image-cap12{
  right: 843px;
  top: 291px;
}



.rusagro__title{
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 22px;
}

.rusagro__desc{
  font-size: 48px;
  font-weight: 300;
  line-height: 52px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-bottom: 32px;
}

.rusagro__container_flex_first{
  display: flex;
  justify-content: flex-start;
  gap: 31px;
  margin-bottom: 43px;
}

.heands{
  height: 710px;
  background-image: url('/src/images/source/heands.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px 710px;
}

.oil-man{
  position: relative;
}

.oil-man__logo{
  /* position: absolute;
  bottom: 120px;
  transform: translateX(-50%);
  left: 50%;
  height: 470px;
  width: 1580px; */
}


.oil-man__wrapper{
  height: 421px;
  margin-top: 276px;
  border-radius: 300px 300px 0 0;
  padding: 170px 100px 131px 868px;
  z-index: 2;
}

.oil-man__desc{
  position: relative;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  position: relative;
  z-index: 100;
}

.oil-man__desc::after{
  content: '';

}
.oil-man__desc::before{
  content: '';

}



.oil-man__img{
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 232px;
  width: 627px;
  height: 595px;
  object-fit: contain;
}

.fryer-oil{
  background: linear-gradient(180deg, #F2F2F2 0%, #FFFFFF 100%);
  position: relative;
}

.fryer-oil__conteiner_flex{
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  margin-bottom: 80px ;
}

.fryer-oil__title{
  /* width: 45%; */
  font-size: 60px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: -0.02em;
  text-align: left;
}
.fryer-oil__desc{
  width: 45%;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
}

.fryer-oil-img{
  width: auto;
  height: auto;
  margin-bottom: 80px;
}

.fryer-oil__container_grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 318px;
  margin-bottom: 127px;
}

.fryer-oil__tetx{
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.oil-man_second{
  position: relative;
}

.oil-man_second-img{
  height: auto;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.oil-man__logo_second{
  margin-bottom: 130px;
}

.classification{
  background: linear-gradient(180deg, #FFF0BD 0%, #FFF8E0 49%, #FFF0BD 100%);
}

.classification__container_grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 136px;
  padding-bottom: 137px;
  align-items: flex-end;
  column-gap: 20px;
  row-gap: 80px;
}

.classification__title{
font-size: 50px;
font-weight: 700;
line-height: 60px;
letter-spacing: -0.03em;
text-align: left;
text-wrap: nowrap;
}

.classification__text{
  position: relative;
}

.classification__item{
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  margin-bottom: 12px;
}

.classification__desc{
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
}

.classification__namber{
  background-image: url('/src/images/source/classification-number.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 192px;
  height: 192px;
  font-size: 70px;
  font-weight: 100;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.classification__card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bom{
  position: relative;
  background-image: url('/src/images/source/oil-bom-oil.png');
  background-size: 913px 550px;
  background-repeat: no-repeat;
  background-position: top left;
}

.drop-oil{
  position: absolute;
  top: 530px;
  left: 163px;
}
.bom__container_flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 134px;
  gap: 340px;
  padding-top: 100px;
}
.bom__sub-title{
  font-size: 50px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -0.02em;
}

.bom__title{
  font-size: 200px;
  font-weight: 900;
  letter-spacing: -0.07em;
}

.bom__desc{
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
}

.bom__tetx-wrapper{
  gap: 45px;
  display: flex;
  flex-direction: column;
}
.bom__btn{
  max-width: 357px;
}

.bom__green{
  padding: 110px 219px 161px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.bom__green-title{
  font-size: 50px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -0.02em;
  text-align: center;
}

.bom__container_grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 129px;
  margin-top: 76px;
}
.bom__card{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 370px;
}

.bom__card-number{
  font-size: 150px;
  font-weight: 100;
  line-height: 47px;
  letter-spacing: -0.02em;
  text-align: left;
  opacity: 0.3;
}


.bom__card-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  margin-bottom: 16px;
}
.bom__card-desc{
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
}

.criteria{
  background-image: url('/src/images/source/oil-bbb-oil.png');
  background-position: bottom left;
  background-size: 541px 416px;
  background-repeat: no-repeat;
  padding-bottom: 118px;
}
.criteria__desc{
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  position: relative;
}

.criteria__container_flex{
  display: flex;
  justify-content: center;
  gap: 153px;
}
.criteria__title{
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 40px;
}

.criteria__text-wrapper{
  width: 50%;
}


.criteria__content-wrapper{
 display: flex;
 flex-direction: column;
 gap: 35px;
}

.criteria__card-number{
  display: block;
  font-weight: 700;
  letter-spacing: -0.04em;
  text-align: left;
  font-size: 50px;
  margin-bottom: 0px;
  background-image: linear-gradient(to right, #F5C51B 0%, #ED8E00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.criteria__card-desc{
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
}

.stability__container_flex{
  display: flex;
  gap: 72px;
  padding-top: 120px;
}
.stability__content{
  width: 50%;
}

.stability__logo{
  max-width: 813px;
}

.stability__title{
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 24px;
}

.stability__desc{
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.02em;
  text-align: left;
}

.stability__items{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.stability__item{
  padding: 16px 28px 13px 44px;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
}
.stability__item_note{
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 38px;
}

.stability__item-desc{
  color: rgba(181, 218, 190, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  display: inline;
  width: 215px;
}
.stability__item-number{
  display: inline;
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.04em;
  color: rgba(181, 218, 190, 1);
}
.stability__list > ul > li{
  //overflow: hidden;

}
.stability__item-progress{
  overflow: hidden;
  position: relative;
}
.stability__list > ul > li:nth-child(1) > div {
  background-color: rgba(181, 218, 190, 1);
  height: 35px;
  width: 408px;
  border-radius: 38px;
}
.stability__list > ul > li:nth-child(2) > div {
  background-color: rgba(181, 218, 190, 1);
  height: 35px;
  width: 344px;
  border-radius: 38px;
}
.stability__list > ul > li:nth-child(3) > div {
  background: linear-gradient(90deg, #F5C51B 0%, #ED8E00 100%);
  height: 35px;
  width: 293px;
  position: relative;
  overflow: hidden;
  border-radius: 38px;
}
.stability__list > ul > li:nth-child(4) > div {
  background-color: rgba(181, 218, 190, 1);
  height: 35px;
  width: 249px;
  border-radius: 38px;
}
.stability__list > ul > li:nth-child(5) > div {
  background-color: rgba(181, 218, 190, 1);
  height: 35px;
  width: 204px;
  border-radius: 38px;
}

.stability__list > ul > li:nth-child(6) > div {
  background-color: rgba(181, 218, 190, 1);
  height: 35px;
  width: 165px;
  border-radius: 38px;
}
.stability__list > ul > li:nth-child(7) > div {
  background-color: rgba(181, 218, 190, 1);
  height: 35px;
  width: 128px;
  border-radius: 38px;
}
.stability__list > ul > li:nth-child(8) > div {
  background-color: rgba(181, 218, 190, 1);
  height: 35px;
  width: 99px;
  border-radius: 38px;
}
.stability__list > ul > li:nth-child(9) > div {
  background: linear-gradient(90deg, #F5C51B 0%, #ED8E00 100%);
  height: 35px;
  width: 64px;
  border-radius: 38px;
}

.stability__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stability__note{
  margin-top: 6px;
}

.stability__note:nth-child(1){
  margin-top: 20px;
}

.stability__content_text{
  position: relative;
}

.stability__img{
  position: absolute;
  top: 213px;
  left: 12px;
  z-index: 1;
}

.stability__logo{
  z-index: 50;
}

.stability{
  padding-bottom: 104px;
}

.advantages{
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  background-image: url('/src/images/source/advantages__background.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-top: 120px;
}

.advantages__title{
  font-size: 60px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 160px;
}
.advantages__container_grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 140px;
  row-gap: 152px;
}

.advantages__card-desc{
  margin-bottom: 20px;
}

.advantages__card-box{
  background-image: url('/src/images/source/savings__box.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 457px;
  height: 155px;
  position: relative;
  margin-bottom: 45px;
}

.advantages__card-img-1{
  background-image: url('/src/images/source/advantages__card-img1.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  position: absolute;
  width: 296px;
  height: 296px;
  object-fit: contain;
  top: -134px;
  left: 71px;
}
.advantages__card-img-2{
  background-image: url('/src/images/source/advantages__card-img2.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  position: absolute;
  width: 296px;
  height: 296px;
  object-fit: contain;
  top: -134px;
  left: 71px;
}

.advantages__card-img-3{
  background-image: url('/src/images/source/advantages__card-img3.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  position: absolute;
  width: 296px;
  height: 296px;
  object-fit: contain;
  top: -134px;
  left: 71px;
}

.advantages__card-img-4{
  background-image: url('/src/images/source/advantages__card-img4.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  position: absolute;
  width: 296px;
  height: 296px;
  object-fit: contain;
  top: -134px;
  left: 71px;
}

.advantages__card-list{
  max-width: 667px;
}

.advantages__card-title{
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  margin-bottom: 19px;
}
.advantages__card-item{
  padding-left: 37px;
  margin-bottom: 25px;
  position: relative;
}

.advantages__card-item::after{
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  object-fit: contain;
  background-image: url('/src/images/source/check-mark_yellow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 0;
  left: 0;
}

.base{
  background-image: url('/src/images/source/bear4.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  height: 1000px;
  position: relative;
  z-index: 100;
  padding-top: 410px;
}
.base__blur{
  position: absolute;
  top: 564px;
  left: 0;
  width: 100%;
  height: 562px;
  transform: rotate(0deg);
  z-index: -1;
}
.base__desc{
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}

.base__content-title, .base__content-desc{
  background-image: linear-gradient(to right, #ED8E00 0%, #F5C51B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.base__container_flex{
  display: flex;
  justify-content: center;
  gap: 168px;
  z-index: 100;
}
.base__text{
  max-width: 621px;
}

.base__title{
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 31px;
}

.base__content{
  background-image: url('/src/images/source/base__content-box.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 782px;
  max-width: 782px;
  height: 434px;
  padding: 53px 63px;
}

.base__content-title{
  font-size: 200px;
  font-weight: 900;
  letter-spacing: -0.07em;
  text-align: left;
  color: linear-gradient(90deg, #F5C51B 0%, #ED8E00 100%);
  margin-bottom: 20px;
}


.base__content-desc{
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: -0.02em;
  text-align: left;
}

.base_second{
  z-index: 100;
}

.base-img{
  width: 100%;
  height: auto;
  z-index: 100;
  margin-bottom: 80px;
}

.base-second__des{
  max-width: 713px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}

.base-second__container-flex{
  display: flex;
  justify-content: space-between;
  gap: 156px;
  margin-bottom: 80px;
}

.base-second__item{
  margin-bottom: 14px;
  padding: 30px 50px 29px 50px;
  background-color: rgba(116, 207, 186, 0.2);
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  position: relative;
}

.base-second__item::before{
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 108, 105, 1);
  background-image: url('/src/images/source/pointer-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  top: 15px;
  right: 25px;
}

.chips{
  position: relative;
  margin-bottom: 120px;
}

.chips__logo{
  position: absolute;
  top: -278px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.chips__desc{
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: -0.04em;
  text-align: left;
}

.chips-img{
  position: absolute;
  top: -76px;
  right: 300px;
  z-index: 100;
}

.oil-man__wrapper.chips{
  padding: 170px 868px 131px 100px;
  position: relative;
  margin-top: 355px;
  margin-bottom: 258px;;
}

.moisture{
  background: linear-gradient(180deg, #F2F2F2 0%, #FFFFFF 100%);
  background-image: url('/src/images/source/moisture-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.moisture-title{
font-size: 120px;
font-weight: 900;
letter-spacing: -0.07em;
display: inline-block;
padding-right: 34px;
background-image: linear-gradient(to right, #ED8E00 0%, #F5C51B 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
margin-left: 200px;
}
.moisture-desc{
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
  text-align: left;
  display: inline-block;
}

/* .moisture__container_flex{
  margin-top: 50px;
  display: flex;
  justify-content:  center;
  gap: 82px;
  margin-bottom: 162px;
}

.moisture__text{
  background-color: rgba(19, 93, 76, 1);
  border-radius: 51px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 669px;
  width: 579px;
  max-width: 579px;
  padding: 97px 78px 97px 89px;

  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
}


.moisture__text-title{
  font-size: 30px;
  font-weight: 900;
  line-height: 26px;
  text-align: left;
  margin-bottom: 28px;
}

.moisture__text-list{
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.moisture__list-item{
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: left;
  padding-left: 16px;
  position: relative;
}
.moisture__list-item::after{
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}


.moisture__content{
  position: relative;
  width: 50%;
}
.moisture__item{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  height: auto !important;
  cursor: pointer;
  transition: all .3s ease;
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: transform 0.3s;
  position: absolute;
  cursor: pointer;
}



.moisture__item:hover{
  transform: scale(1.09);
}


.moisture__item:nth-child(1){
  background-image: url('/src/images/source/Star\ 2.svg');
  width: 234px;
  height: 234px;
  top: 35px;
  left: 50px;
}
.moisture__item:nth-child(2){
  background-image: url('/src/images/source/Star\ 3.svg');
  width: 221px;
  height: 221px;
  top: -22px;
  right: 109px;
}
.moisture__item:nth-child(3){
  background-image: url('/src/images/source/Star\ 4.svg');
  width: 209px;
  height: 209px;
  top: 58px;
  right: -221px;
}
.moisture__item:nth-child(4){
  background-image: url('/src/images/source/Star\ 1.svg');
  width: 275px;
  bottom: 0;
  left: -49px;
  height: 275px;
}
.moisture__item:nth-child(5){
  background-image: url('/src/images/source/Star\ 2\ \(1\).svg');
  width: 324px;
  height: 324px;
  bottom: 65px;
  right: 200px;
}
.moisture__item:nth-child(6){
  background-image: url('/src/images/source/Star\ 3\ \(1\).svg');
  width: 266px;
  height: 266px;
  bottom: 11px;
  right: -128px;
}

.moisture__item-text{
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  width: min-content;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
} */

.fuming{
  margin-bottom: 118px;
}

.drop__wrapper{
  position: relative;
}

.fuming__drop{
  position: absolute;
  top: 471px;
  right: 486px;
}


.fuming-img{
  margin-bottom: 150px;
}

.fuming__container_flex{
  display: flex;
  flex: 1;
  gap: 284px;
}

.fuming__title{
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 46px;
}
.fuming__desc{
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}

.fuming__number{
font-size: 150px;
font-weight: 700;
letter-spacing: -0.07em;
text-align: left;
margin-bottom: 20px;
background-image: linear-gradient(to right, #F5C51B 0%, #ED8E00 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.fuming__number-desc{
  font-size: 32px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: -0.01em;
  text-align: left;
}

.fuming__content{
  position: relative;

}
.fuming__content-box{
  width: 880px;
  height: 355px;
  border-radius: 200px 0px 0px 200px ;
  background: rgba(255, 240, 189, 1);
  position: absolute;
  top: -25px;
  left: -144px;
  z-index: -1;
  opacity: 0.5;
}
.comparison{
  position: relative;
}
.container_comparison{
  margin: 0 auto;
  width: 1279px;
}

.comparison__title{
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 36px;
}
.comparison__item{
  padding: 19px 50px 20px 50px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.02em;
  text-align: left;
}
.comparison__list{
  margin-bottom: 40px;
}

.oil-absorption__container_flex{
  display: flex;
  align-items: center;
  padding-bottom: 200px;
}
.oil-absorption__text{
  padding-top: 50px;
}

.oil-absorption{
  background-image: url('/src/images/source/oil-li-oil.png');
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  z-index: 100;
}


.oil-absorption__title{
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 20px;
}

.oil-absorption__desc{
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}

.oil-absorption__img{
  z-index: -1;
}

.fat{
  padding-top: 150px;
  padding-bottom: 133px;
}

.fat__title{
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 97px;
}

.fat__container_grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px ;
  row-gap: 151px;
}

.fat__card-number{
  font-size: 90px;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 27px;
  background-image: linear-gradient(to right, #F5C51B 0%, #ED8E00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-wrap: nowrap;
}


.fat__card-desc{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
}

.fat__card{
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
}

/* .fat__card-content{
} */

.fat__card-img_box{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 125px;
  max-height: 125px;
}

.fat__card-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.just-oil{
  background-image: url('/src/images/source/just-oil.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 568px;
  margin-bottom: 140px;
}

.container__control_first{
  width: 100%;
  padding-right: 18%;
}

.container__control_second{
  width: 100%;
  padding-left: 18%;
}

.control__box_first, .control__box_second{
width: 100%;
height: 308px;
background: linear-gradient(90deg, #F5C51B 0%, #ED8E00 100%);

}

.control__box_first{
  border-radius: 0px 190px 0px 0px;
  margin-bottom: 42px;
}
.control__box_second{
  border-radius: 0px 0px 0px 200px;
}

.control__container_flex{
  width: 200px;
  height: 200px;
  background-color: red;
}

.container__box_first{
 width: 100%;
 margin-left: 317px;
}
.container__box_second{
  width: 100%;
  margin-right: 344px;
}

.control__img{
  margin-bottom: 119px;
  margin-top: 140px;
}

.rusagro{
  position: relative;
  padding-bottom: 182px;
  position: relative;
  background-image: url('/src/images/source/rus-second-oil.png');
  background-size: 800px, 404px;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.rusagro-oil{
  position: absolute;
  bottom: 0;
  left: 0;
}

.rusagro__container_flex{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
}
.rusagro__content{
  max-width: 621px;
  margin-left: 240px;
  margin-top: 49px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}

.rusagro__btn{
  margin-left: 240px;
  margin-bottom: 182px;
  margin-top: 45px;
  padding: 21px 55px 21px 56px;
}

.assortment__container_grid{
  display: grid;
  height: 500px;
  gap: 25px;
  grid-template-areas: 'f f f f i i i b o o o o'
                       'f f f f i i i b o o o o'
                       'f f f f i i i b o o o o'
                       'n n n n i i i b r r r r'
                       'n n n n z e e e r r r r';
}
.assortment{
  padding: 120px;
  padding: 135px;
  position: relative;
}
.assortiment__card{
  position: relative;
}

.assortment__card_click{
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url('/src/images/source/pointer-white-2.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 108, 105, 1);
  border-radius: 50%;
  top: 20px;
  right: 20px;
}

.assortment__card1{
  grid-area: f;
  background-color: rgba(0, 108, 105, 1);
}
.assortment__card2{
  grid-area: i;
  background-color: rgba(0, 108, 105, 1);
}
.assortment__card3{
  grid-area: b;
  background-image: url('/src/images/source/grid__card3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.assortment__card4{
  grid-area: o;
  background-color: rgba(0, 108, 105, 1);
}
.assortment__card5{
  grid-area: n;
  background: linear-gradient(90deg, #F5C51B 0%, #ED8E00 100%);

}
.assortment__card6{
  grid-area: z;
  background-image: url('/src/images/source/grid__card6.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
  width: 160px;
}
.assortment__card7{
  grid-area: e;
  background-color: rgba(0, 108, 105, 1);
}
.assortment__card8{
  grid-area: r;
  background-color: rgba(0, 108, 105, 1);
}

.assortment__title{
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: left;
  max-width: 713px;
  margin-bottom: 70px;
}

.assortment__note{
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}

.assortment__yellow-box{
  background-image: url('/src/images/source/grid__yellow-box.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  height: 535px;
  width: 785px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.assortment__note {
  position: absolute;
  z-index: 100;
  bottom: 40px;
  left: 60px;
}

.yellow-box__wrapper{
  position: relative;
}

.assortiment__card{
  padding: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
}

.assortiment__card-desc{
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}

.moisture__container_items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box{
  background-color: red;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  text-align: center;
  padding-top: 100px;
}

.box-second{
  background-color: #F5C51B;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.box-second.active{
  opacity: 1;
}


.box  {
  padding: 20px;
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  background-color: red;
  cursor: pointer;
  transition: all 0.5s ease; /* Плавный переход для opacity */
  opacity: 1; /* Начальная видимость */
}

.box-second{
  padding: 20px;
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  background-color: rgb(33, 198, 63);
  cursor: pointer;
  transition: all 0.5s ease; /* Плавный переход для opacity */
  opacity: 1; /* Начальная видимость */
}

.box-second {
  opacity: 0; /* Скрыт по умолчанию */
}

.box-second.active {
  opacity: 1; /* Полная видимость */
}

.box{
  max-width: 1920px;
  overflow-x: hidden;
  background-color: red;
}

.glare-button:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
                  120deg,
                  rgba(255, 255, 255, 0) 30%, /* Прозрачность начала блика */
                  rgba(255, 255, 255, 0.8), /* Цвет блика */
                  rgba(255, 255, 255, 0) 70% /* Прозрачность конца блика */
  );
  top: 0;
  left: -100px;
  animation: shine 2s infinite linear; /* Анимация блика */
}

/* Ключевые кадры для анимации блика */
@keyframes shine {
  0% {
    left: -100px; /* Начальная позиция блика (левая сторона кнопки) */
  }
  20% {
    left: 100%; /* Позиция блика в конце (правая сторона кнопки) */
  }
  100% {
    left: 100%; /* Завершение анимации */
  }
}

