/* montserrat-100 - latin_cyrillic */
// @font-face {
//   font-family: "Igra Sans";
//   font-style: normal;
//   font-weight: 400;
//   src: url("/src/fonts/igra_sans/IgraSans.otf");
//   /* IE9 Compat Modes */
//   src: local("Igra Sans"), url("/src/fonts/igra_sans/IgraSans.otf") format("opentype");
// }


@font-face {
  font-family: 'Golos Text';
  src: url('/src/fonts/Golos-Text_Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Golos Text';
  src: url('/src/fonts/Golos-Text_Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('/src/fonts/MuseoSansCyrl-300.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('/src/fonts/MuseoSansCyrl-500.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('/src/fonts/MuseoSansCyrl-700.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('/src/fonts/MuseoSansCyrl-900.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('/src/fonts/MuseoSansCyrl-100.ttf');
  font-weight: 100;
}
